# MITgcm specific
build/Makefile
build/*.*
build_ad/*.*
build_test/*.*
input_files
grid
run/*
run_ad/*
mitgcmuv*

# initial conditions files
*.ini

# setup (links to BAS HPC data)
setup/initial_conditions/keepSafe/
setup/initial_conditions/sose_ics.nc
setup/initial_conditions/*.ini 
setup/initial_conditions/*.nc 
setup/boundary_conditions/
setup/mitgcm_python/
setup/topo_inputs/

# setup (links to data on ARCHER2)
ERA5

# Fortran
*.f
*.F

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
