# MITgcm specific
build/Makefile
build/*.*
build_ad/*.*
build_test/*.*
grid
run/*
run_ad/*
mitgcmuv*

# setup (links to BAS HPC data)
setup/initial_conditions 
setup/mitgcm_python
setup/topo_inputs

# Fortran
*.f
*.F

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
